<?xml version="1.0" ?>
<robot name="mecanumbot">
  <xacro:arg name="namespace" default=""/>
  <xacro:property name="namespace" value="$(arg namespace)"/>

  <!-- Init colour -->
  <material name="black">
      <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <material name="dark">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>

  <material name="light_black">
    <color rgba="0.4 0.4 0.4 1.0"/>
  </material>

  <material name="light_blue">
    <color rgba="0.1 0.1 0.5 1.0"/>
  </material>

  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="orange">
    <color rgba="1.0 0.4235 0.0392 1.0"/>
  </material>

  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

<!-- Init geometry -->
  <link name="${namespace}base_footprint"/>

  <joint name="${namespace}base_joint" type="fixed">
    <parent link="${namespace}base_footprint"/>
    <child link="${namespace}base_link" />
    <origin xyz="0.0 0.0 0.01" rpy="0 0 0"/>
  </joint>

  <link name="${namespace}base_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0.085 0.0 0.135" rpy="0 0 0"/>
      <geometry>
        <box size="0.045 0.260 0.09"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.2 0.2 0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="${namespace}wheel_frontleft_joint" type="continuous">
    <parent link="${namespace}base_link"/>
    <child link="${namespace}wheel_frontleft_link"/>
    <origin xyz="0.064 0.1522 0.02345" rpy="-1.57 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="${namespace}wheel_frontleft_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/wheel.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="light_blue"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.030" radius="0.033"/>
      </geometry>
    </collision>
  </link>

  <joint name="${namespace}wheel_backleft_joint" type="continuous">
    <parent link="${namespace}base_link"/>
    <child link="${namespace}wheel_backleft_link"/>
    <origin xyz="-0.064 0.1522 0.02345" rpy="-1.57 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="${namespace}wheel_backleft_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/wheel.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="light_blue"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.030" radius="0.033"/>
      </geometry>
    </collision>
  </link>

  <joint name="${namespace}wheel_frontright_joint" type="continuous">
    <parent link="${namespace}base_link"/>
    <child link="${namespace}wheel_frontright_link"/>
    <origin xyz="0.064 -0.1522 0.02345" rpy="1.57 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="${namespace}wheel_frontright_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/wheel.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="light_blue"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.030" radius="0.033"/>
      </geometry>
    </collision>
  </link>

  <joint name="${namespace}wheel_backright_joint" type="continuous">
    <parent link="${namespace}base_link"/>
    <child link="${namespace}wheel_backright_link"/>
    <origin xyz="-0.064 -0.1522 0.02345" rpy="1.57 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="${namespace}wheel_backright_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/wheel.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="light_blue"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.030" radius="0.033"/>
      </geometry>
    </collision>
  </link>

  <joint name="${namespace}grabber_right_joint" type="revolute">
    <parent link="${namespace}base_link"/>
    <child link="${namespace}grabber_right_link"/>
    <origin xyz="0.174 -0.070 0.024" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57"/>
  </joint>

  <link name="${namespace}grabber_right_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/arm_right.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green"/>
    </visual>

    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/arm_right.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="${namespace}grabber_left_joint" type="revolute">
    <parent link="${namespace}base_link"/>
    <child link="${namespace}grabber_left_link"/>
    <origin xyz="0.174 0.070 0.024" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57"/>
  </joint>

  <link name="${namespace}grabber_left_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/arm_left.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="green"/>
    </visual>

    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/arm_left.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="${namespace}head_joint" type="revolute">
    <parent link="${namespace}base_link"/>
    <child link="${namespace}head_link"/>
    <origin xyz="0.1063 0.0 0.1679" rpy="1.57 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.57" upper="0.52"/>
  </joint>

  <link name="${namespace}head_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/head.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange"/>
    </visual>
  </link>

  <joint name="${namespace}imu_joint" type="fixed">
    <parent link="${namespace}base_link"/>
    <child link="${namespace}imu_link"/>
    <origin xyz="0.0 0 0.068" rpy="0 0 0"/>
  </joint>

  <link name="${namespace}imu_link"/>

  <joint name="${namespace}scan_joint" type="fixed">
    <parent link="${namespace}base_link"/>
    <child link="${namespace}base_scan"/>
    <origin xyz="0 0 0.122" rpy="0 0 0"/>
  </joint>

  <link name="${namespace}base_scan">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/lds.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0.015 0 -0.0065" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0315" radius="0.055"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.114" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0"
               izz="0.001" />
    </inertial>
  </link>

  <joint name="${namespace}camera_joint" type="fixed">
    <origin xyz="0.022 0.038 0.0" rpy="0 0 0"/>
    <parent link="${namespace}head_link"/>
    <child link="${namespace}camera_link"/>
  </joint>

  <link name="${namespace}camera_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.015 0.030 0.027"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="0.005 0.011 0.013" rpy="0 0 0"/>
      <geometry>
        <box size="0.015 0.030 0.027"/>
      </geometry>

    </collision>
  </link>

  <joint name="${namespace}camera_rgb_joint" type="fixed">
    <origin xyz="0.003 0.011 0.009" rpy="0 0 0"/>
    <parent link="${namespace}camera_link"/>
    <child link="${namespace}camera_rgb_frame"/>
  </joint>
  <link name="${namespace}camera_rgb_frame"/>

  <joint name="${namespace}camera_rgb_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
    <parent link="${namespace}camera_rgb_frame"/>
    <child link="${namespace}camera_rgb_optical_frame"/>
  </joint>
  <link name="${namespace}camera_rgb_optical_frame"/>

</robot>